*/node_modules
journal.txt
updates.txt
/newBackend/tensorflow_cpu-2.18.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.pyo
*.pyd
.pytest_cache/
.coverage
.tox/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
venv/
env/
.venv

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini
$RECYCLE.BIN/
# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*

serverBackend/krackleAPI/media/